[Unit]
Description=Keyboard backlight service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/lambent -v battery

[Install]
WantedBy=multi-user.target